#florida-showing {
  display: none;
}

#mexicocity-showing {
  display: none;
}

#tiger-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.light-background {
  background-color: white;
  color: black;
}

.dark-background {
  background-color: grey;
  color: white;
}

.paragraphs {
  border: 4px;
  background-color: purple;
}
